<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Account | <%= webTitle %></title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
</head>

<body id="page-top" onload="getWorkingTime();">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <% var dir = process.cwd() %>
        <%- include(dir + "/views/sidebar_ext.ejs") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <% var dir = process.cwd() %>
                <%- include(dir + "/views/topbar_ext.ejs") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="container">
                        <div class="row flex-lg-nowrap">
                            <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                               <div class="card p-3">
                                  <div class="e-navlist e-navlist--active-bg">
                                     <ul class="nav">
                                        <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                                        <li class="nav-item"><a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-crud-users" target="__blank"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD [UD]</span></a></li>
                                        <li class="nav-item"><a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page" target="__blank"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings [UD]</span></a></li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                            <div class="col">
                               <div class="row">
                                  <div class="col mb-3">
                                     <div class="card">
                                        <div class="card-body">
                                           <div class="e-profile">
                                              <div class="row">
                                                 <div class="col-12 col-sm-auto mb-3">
                                                    <div class="mx-auto" style="width: 140px;">
                                                       <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                            <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                       <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><%- username %></h4>
                                                       <p class="mb-0"><%- position %></p>
                                                        <% if(status == 'NOT LOGIN'){ %>
                                                            <div class="text-muted">• <small>Last seen 2 hours ago [UD]</small></div>
                                                        <% } else { %>
                                                            <div class="text-muted"><b style="color: rgb(46, 184, 46);">• </b><small>Online</small></div>
                                                        <% } %>
                                                       <div class="mt-2">
                                                          <button class="btn btn-primary" type="button">
                                                          <i class="fa fa-fw fa-camera"></i>
                                                          <span>Change Photo [UD]</span>
                                                          </button>
                                                       </div>
                                                    </div>
                                                    <div class="text-center text-sm-right">
                                                       <span class="badge badge-secondary"><%- department %></span>
                                                       <div class="text-muted"><small>Joined 09 Dec 2017 [UD]</small></div>
                                                    </div>
                                                 </div>
                                              </div>
                                              <ul class="nav nav-tabs">
                                                 <li class="nav-item"><a href="/account" class="nav-link">Details</a></li>
                                                 <li class="nav-item"><a href="/security" class="active nav-link">Security</a></li>
                                              </ul>
                                              <div class="tab-content pt-3">
                                                 <div class="tab-pane active">
                                                    <form id='changepassword' action="/account/changepassword" method="POST">
                                                       <div class="row">
                                                          <div class="col-12 col-sm-6 mb-3">
                                                             <div class="mb-2"><b>Change Password</b></div>
                                                             <div class="row">
                                                                <div class="col">
                                                                   <div class="form-group">
                                                                      <label>Current Password</label>
                                                                      <input class="form-control" name="curpassword" type="password" placeholder="••••••" required>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                             <div class="row">
                                                                <div class="col">
                                                                   <div class="form-group">
                                                                      <label>New Password</label>
                                                                      <input class="form-control" name="password" type="password" placeholder="••••••" required>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                             <div class="row">
                                                                <div class="col">
                                                                   <div class="form-group">
                                                                      <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                                                      <input class="form-control" name="repassword" type="password" placeholder="••••••" required>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                             <script> 
                                                               var url = new URL(window.location.href); 
                                                               var succode = url.searchParams.get("cpsuccess");
                                                               if(succode != null){
                                                                  document.write('<p style="color:green;">Password has been changed.</p>') 
                                                               }
                                                               var initcode = url.searchParams.get("notmatch"); 
                                                               if(initcode != null){ 
                                                                  document.write('<p style="color:red;">Password not matched.</p>') 
                                                               } else {
                                                                  var code = url.searchParams.get("invalidpass"); 
                                                                  if(code != null){ 
                                                                     document.write('<p style="color:red;">Incorrect password.</p>') 
                                                                  } 
                                                               }
                                                            </script>
                                                          </div>
                                                          <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                             <div class="mb-2"><b>Keeping in Touch</b></div>
                                                             <div class="row">
                                                                <div class="col">
                                                                   <label>Email Notifications</label>
                                                                   <div class="custom-controls-stacked px-2">
                                                                      <div class="custom-control custom-checkbox">
                                                                         <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                                                         <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                                                                      </div>
                                                                      <div class="custom-control custom-checkbox">
                                                                         <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                                                         <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                                                      </div>
                                                                      <div class="custom-control custom-checkbox">
                                                                         <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                                                         <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                       <div class="row">
                                                          <div class="col d-flex justify-content-end">
                                                             <button form="changepassword" class="btn btn-primary" type="submit">Save Password [UD]</button>
                                                          </div>
                                                       </div>
                                                    </form>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="col-12 col-md-3 mb-3">
                                     <div class="card mb-3">
                                        <div class="card-body">
                                           <div class="px-xl-3">
                                              <button class="btn btn-block btn-secondary">
                                              <i class="fa fa-sign-out"></i>
                                              <span>Generate Resume</span>
                                              </button>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="card">
                                        <div class="card-body">
                                           <h6 class="card-title font-weight-bold">Support</h6>
                                           <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                           <button type="button" class="btn btn-primary">Contact Us [UD]</button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/signout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Error Modal-->
    <div class="modal fade" id="cpeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/signout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>